@font-face {
    font-family: "iconfont logo";
    src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834');
    src: url('//at.alicdn.com/t/c/font_3639412_4ex0am5t034.woff2?t=1662659836196') format('woff2'),
    url('//at.alicdn.com/t/c/font_3639412_4ex0am5t034.woff?t=1662659836196') format('woff'),
    url('//at.alicdn.com/t/c/font_3639412_4ex0am5t034.ttf?t=1662659836196') format('truetype');
  }
  

  .logo {
    font-family: "iconfont logo";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  